.category_page {
  .title {
    margin-top: 35px;
    font-size: 36px;
    font-weight: 300;
    text-transform: capitalize;
  }

  .category_settings {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    align-items: center;

    select {
      padding: 5px;
      border-radius: 3px;

    }
  }

  .category_wrapper{
    display: flex;
    padding: 0 30px;

    aside.sidebar {
      width: 250px;
    }

    section.content {

    }
  }
}