@import '../../mainStyles/vars';

@mixin btn_base($bgCol: transparent, $pt: 10px, $pr: 15px) {
  background-color: $bgCol;
  padding: $pt $pr;
  &:hover {
    background-color: darken($bgCol,5%);
  }
}
@mixin btn_base_rounded($bgCol: transparent, $pt: 10px, $pr: 15px ,$borRad: 10px) {
  @include btn_base($bgCol,$pt,$pr);
  border-radius: $borRad;
}

