@import 'src/styles/mainStyles/vars';

.root {
  display: flex;
  justify-content: space-between;

  .imgWrapper {
    flex: 0 1 48%;

    img {
      width: 100%;
    }
  }

  .contentWrapper {
    flex: 0 1 48%;

    .sellerSection {
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        cursor: pointer;
        width: 30px;
        height: 30px;
      }
    }

    &>*:not(:first-child){
      margin-top: 15px;
    }
  }
}